<h1> <%= @cocktail.name %> </h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li>
    <%= dose.description %>
    <%= dose.ingredient.name %>

  </li>
  <li>
    <% @cocktail.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  </li>
  <% end %>
</ul>
<p>
</p>
<%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail) %>
<%= link_to "Create dose", new_cocktail_dose_path(@cocktail) %>
